@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.overflow-y-auto::-webkit-scrollbar {
  display: none;
}

// Hide scrollbar for IE, Edge, Firefox, Chrome and Safari
body::-webkit-scrollbar {
  display: none;
}
