@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@keyframes borderWave {
  0%,
  100% {
    border-radius: 56% 44% 59% 41% / 32% 56% 44% 68%;
  }
  25% {
    border-radius: 45% 55% 47% 53% / 36% 40% 60% 64%;
  }
  50% {
    border-radius: 33% 67% 31% 69% / 47% 30% 70% 53%;
  }
  75% {
    border-radius: 22% 78% 23% 77% / 63% 40% 60% 37%;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate(-4deg);
  }
  20%,
  40%,
  60%,
  80% {
    transform: rotate(4deg);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* o qualsiasi altro colore e opacità */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: expandAnimation 0.5s ease;
}

.centered-info {
  color: white;
  font-size: 2em;
  /* ulteriori stili per le informazioni */
}

@keyframes expandAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
